*{
     margin:0;font-family: helvetica;
}
.title{
    margin-top: 1rem;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #1c2121;
    color:#d9dbdb;
    font-size:medium;
    width: 600px;
    text-align: center;
    padding: 1rem;
    margin-left: 30px;
}
.txt{
    padding: 2rem;
    width: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}